{% load staticfiles %}
{% load static %}
<html>
    <head>
        <title>Logos Project</title>
    </head>
    <body ng-app="money">
    <h2>Main Page</h2>
    
    {% if user.is_authenticated %}
            <p class="hi">Hello <a href="{% url 'user_detail' %}">{{ user.first_name  }}!</a></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
            <p>You are not logged in</p>
            <p><a href="{% url 'login_in' %}">Login</a> or 
            <a href="{% url 'register_in' %}">Register</a></p>
    {% endif %}
    
    

    {% verbatim %}
        angular {{ 2 + 2 }}
    {% endverbatim %}

    <form action="/categories/" method="post">
        <h3>Додавання нової категорії</h3>
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <input type="submit">
    </form>


        <script src="{% static "js/angular.min.js" %}"></script>
        <script src="{% static "js/angular-route.min.js" %}"></script>
        <script src="{% static "js/app.js" %}"></script>
    </body>
</html>