<!-- Нова Категорія -->
<div ng-if="user_is_auth">
  <h3>Нове надходження коштів</h3>
  <form name="incomeForm" novalidate>

    <label for="source_type">Джерело надходження коштів</label>
    <div id="source_type" class="form-group">
        <select name="incomesource" ng-model="income.selectedSource" ng-options="source.name for source in sources" class="form-control" required></select>
        <span ng-show="incomeForm.incomesource.$touched && incomeForm.incomesource.$invalid">
          <span ng-show="incomeForm.incomesource.$error.required">Поле не заповнено</span>
        </span>        
    </div>  


    <div class="form-group">
      <input name="incomesumma" type="text" class="form-control" ng-model="income.summa" placeholder="Cума надходження" required smart-float>
      <span ng-show="incomeForm.incomesumma.$touched && incomeForm.incomesumma.$invalid" >
        <span ng-show="incomeForm.incomesumma.$error.required">Поле не заповнено</span>
        <span ng-show="incomeForm.incomesumma.$error.validFloat">Значення дійсним числом більшим 0 і двома знаками після крапки</span>
      </span>        

    </div>  

    <div class="form-group">
      <textarea name="incomenote" class="form-control" cols="30" rows="5" ng-model="income.notes" placeholder="Примітка" required></textarea>
      <span ng-show="incomeForm.incomenote.$touched && incomeForm.incomenote.$invalid" >
        <span ng-show="incomeForm.incomenote.$error.required">Поле не заповнено</span>
      </span>        

    </div>

    <label for="save_type">Місце зберігання коштів</label>
    <div id="save_type" class="form-group">
        <select  name="incomesave" ng-model="income.selectedSave" ng-options="save.name for save in saves" class="form-control" required></select>
        <span ng-show="incomeForm.incomesave.$touched && incomeForm.incomesave.$invalid">
          <span ng-show="incomeForm.incomesave.$error.required">Поле не заповнено</span>
        </span>        

    </div>  

    <button class="btn btn-success" ng-click="store_income(income)" ng-disabled="incomeForm.$invalid">Зберегти</button>
  </form>  
</div>