{% extends "base.html" %}

{% block main_container %}
    <div class="container">
        <div class="row">
        <h2>Smart Wallet</h2>

        {% verbatim %}
            <div class="row">
                <div class="col-md-4 col-md-offset-4" ng-if="!user_is_auth">
                    <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-pills nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Авторизація</a></li>
                        <li role="presentation"><a href="#register" aria-controls="profile" role="tab" data-toggle="tab">Реєстрація</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <login-form></login-form>   
                        </div>
                        <div role="tabpanel" class="tab-pane" id="register">
                            <register-form></register-form>   
                        </div>
                      </div>

                    </div>                    
                </div>
                <logout-section></logout-section>                          
            </div>
        {% endverbatim %} 
        
        </div>
    </div>

{% endblock main_container %}