<div>
    <h3>Реєстрація користувача</h3>
    <form novalidate>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="reguser.login" placeholder="Користувач">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" ng-model="reguser.password" placeholder="Пароль">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" ng-model="reguser.password_repeat" placeholder="Повторити пароль">
      </div>

      <div class="form-group">
        <input type="email" class="form-control" ng-model="reguser.email" placeholder="e-mail">
      </div>

      <button class="btn btn-success" ng-click="register(reguser)">Зареєструватися</button>
    </form>
</div>